ul,
ol {
	list-style: none;
}

#root {
	width: 100%;
	background-color: #F2F0F1;
}

.content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	width: 100%;
	color: #ffffff;
}

.footer {
	background-color: #f0f0f0;
	width: 100%;
	color: #000000;
	padding: 35px 0;
}