.content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	position: absolute;
	top: 0;
	width: 100%;
	color: #ffffff;
}

.header__discount {
	background-color: #000000;
}

.header__discount-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: auto;
}

.header__discount-message {
	text-align: center;
}

.header__close-discount {
	cursor: pointer;
}

.header__discount-message > span {
	text-decoration: underline;
	font-weight: 600;
}

.header__options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	color: #000000;
	margin: auto;
	padding: 15px 0;
}

.header__logo {
	padding-right: 25px;
}

.header__options-navbar {
	width: 350px;
}

.header__options-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;

	li {
		cursor: pointer;
		padding: 8px 10px;

		&:hover {
			background-color: #f0f0f0;
			transition-duration: 0.6s;
		}
	}
}

.header__search {
	background-color: #f0f0f0;
	border-radius: 25px;
	padding: 10px 45px;
	border: none;
	width: 400px;
	height: 28px;
	background-image: url("/images/search.png");
	background-position: 15px center;
	background-repeat: no-repeat;
	background-size: 20px;
	outline: none;
}

.header__customer-options {
	width: 60px;
	display: flex;
	justify-content: space-between;

	div {
		cursor: pointer;
	}
}

.footer {
	position: fixed;
	bottom: 0;
	background-color: #f0f0f0;
	width: 100%;
	color: #000000;
}
