ul, ol {
	list-style: none;
}

.content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	position: absolute;
	top: 0;
	width: 100%;
	color: #ffffff;
}

.footer {
	position: fixed;
	bottom: 0;
	background-color: #f0f0f0;
	width: 100%;
	color: #000000;
	padding: 35px 0;
}