.product__chooseInfoContainer {
	margin-top: 40px;
}

.product__chooseInfo {
	display: flex;
	justify-content: space-around;
	max-width: 1200px;
	margin: auto;
}

.product__chooseInfoItem {
	opacity: 0.5;
	width: 350px;
	text-align: center;
	cursor: pointer;
	padding-bottom: 10px;
}

.product__chooseInfoItemActive {
	transition-duration: 0.6s;
	border-bottom: 1px solid #000;
	opacity: 1;
}