.brands {
	background-color: #000000;
}

.brands__content {
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 10px;
}

.brands__item {
	margin: 25px 0;
	padding: 0 10px;
}

@media(max-width: 510px) {
	.brands__content {
		justify-content: center;
	}
}